// Primary Colors

$Color-Light-Red: #ff525d;
$Color-Light-Red: #ff7a85;
$Color-Dark-Blue: hsl(208, 49%, 24%);

// Neutral Colors

$Color-White: #ffffff;
$Color-Grayish-Blue: #c8c8cb;
$Color-Dark-Grayish-Blue: hsl(207, 13%, 34%);
$Color--Black: #25252d;

// Font Family

$Font-Family-Primary: "Overpass", sans-serif;
$Font-family-Secondary: "Ubuntu", sans-serif;

// Font Size Default

$Font-Family-Default: 1.6rem;
