// Primary Colors

$Light-Red: #ff525d;
$Very-Light-Red: #ff7a85;
$Very-Dark-Blue: hsl(208, 49%, 24%);

// Neutral Colors

$White: #ffffff;
$Grayish-Blue: #c8c8cb;
$Very-Dark-Grayish-Blue: hsl(207, 13%, 34%);
$Very-Dark-Black: #25252d;

// Font Family

$Font-Family-Primary: "Overpass", sans-serif;
$Font-family-Secondary: "Ubuntu", sans-serif;

// Font Size Default

$Font-Family-Default: 1.6rem;
